:root{
    --dk-blue: #537188;
    --dk-tan: #CBB279;
    --lt-tan: #E1D4BB;
    --lt-gray: #EEEEEE;

    font-family: 'Major Mono Display', sans-serif;
    font-family: 'Roboto';
}

*{
	margin: 0;
    line-height: 1.25;
    max-width: 1440px;
}
header{
    display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}
header h1{
    margin: 25px;
    font-size: 30px;
    float: left;
    text-decoration: none;
}
main {
    background: linear-gradient(45deg,#E1D4BB 10%, transparent 10%), linear-gradient(135deg, transparent 90%, #E1D4BB 90%);
        background-size: 2em 2em;
        background-color: #ffffff;
        opacity: 1;
    padding: 20px 40px;
    align-items: center;
    justify-content: auto;
}
main h2{
    margin: 2rem 8rem;
    text-align: center;
}
main p{
    margin: 2rem 8rem;
}
nav ul{
    display: grid;
    font-family: 'roboto';
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem .5rem;
    text-align: center;
    text-decoration: underline;
    cursor:pointer;
}
h1{
    font-family: 'major mono display';
    font-weight: bold;
}
h2, h3{
    font-family:'Roboto';
    font-weight: bold;
    background-color: var(--dk-blue); 
    color: var(--lt-gray);
    height: 30px; 
}
p{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    background-color: white;
}
img{
    display:block;
}
#one{
    display: grid;
    columns: auto auto;
    padding: 1rem;
    margin: 1rem 6rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#one img{
    display:grid;
    width: 400px;
    height: 250px;
    justify-content: center;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 2;
}
#one h3{
    display: grid;
	justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end:1;
}
#one p{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
    width: 100%;
    margin: 0 1rem 0 0;
;}
#two{
    display: grid;
    columns: auto auto;
    padding: 1rem;
    margin: 1rem 6rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#two img{
    display:grid;
    width: 400px;
    height: 250px;
    justify-content: center;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 2;
}
#two h3{
    display: grid;
	justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end:1;
}
#two p{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
    width: 100%;
    margin: 0 1rem 0 0;
;}
#contact{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    justify-content: center;
    width: 80%;
    padding: 2rem;
}
#contact h2{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
}
#contact p{
    grid-column-start: 0;
    grid-column-end: 1;
    max-width: fit-content;
    text-align: left;
    grid-row-start: 1;
}
#contact img{
    grid-column-start: 0;
    grid-column-end: 1;
    width: fit-content;
    height: 400px;
    justify-self: center;
}
#contact form{
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-items: center;
}
label{
    background-color: var(--lt-tan);
}
footer{
    display: block;
    background-color:var(--dk-blue);
    color:var(--lt-gray);
    height: 3%;
    padding: 10px;
    text-align: center;
}
footer p{
    background-color: var(--dk-blue);
}